<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Titulo{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'monitor/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'monitor/images/heart-icon.svg' %}" alt="Heart" class="navbar-icon">
                Detector de anomalías en el pulso
            </a>
        </div>
    </nav>
    
    <main class="container my-4">
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <div class="container text-center">
            <p>
                <img src="{% static 'monitor/images/heart-icon.svg' %}" alt="Heart" class="footer-icon">
                &copy; 2025 Detector de anomalías en el pulso.
            </p>
        </div>
    </footer>
</body>
</html>