<div class="modal fade" id="aviso-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="avisoModalLabel" aria-hidden="true">
    {% comment %}  {% endcomment %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Formulario de terminos y condiciones -->
            <form method="post" action="{{ request.path }}">
                {% csrf_token %} 
                <div class="modal-header">
                    <h5 class="modal-title" id="avisoModalLabel">⚠️ Aviso Legal Obligatorio</h5>
                </div>

                <div class="modal-body">
                    <p class="text-justify">
                        Este sistema analiza señales de audio para detectar posibles anomalías en el pulso. No reemplaza una evaluación médica profesional.
                    </p>
                    <p>
                        Si presentas síntomas de salud, consulta con un especialista o servicio médico.
                    </p>

                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="check-aceptar" name="terminos_aceptados">
                        <label class="form-check-label" for="check-aceptar">
                            Acepto los términos y condiciones
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="btn-aceptar" class="btn btn-primary btn-lg w-100" disabled>
                        Continuar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const avisoModal = new bootstrap.Modal(document.getElementById('aviso-modal'));
        avisoModal.show();
    });

    const checkbox = document.getElementById('check-aceptar');
    const continuarBtn = document.getElementById('btn-aceptar');

    checkbox.addEventListener('change', function() {
        continuarBtn.disabled = !this.checked;
    });
</script>