<div class="modal fade" id="aviso-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="avisoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content aviso-modal-content">

            <!-- Formulario -->
            <form method="post" action="{{ request.path }}">
                {% csrf_token %}

                <!-- Texto de terminos y condiciones -->
                <div class="modal-header aviso-modal-header">
                    <h5 class="modal-title" id="avisoModalLabel">Aviso Legal - Terminos y Condiciones</h5>
                </div>

                <div class="modal-body aviso-modal-body">
                    <p class="aviso-text">
                        Este sistema analiza señales de audio para detectar posibles anomalías en el pulso. 
                        <strong>No reemplaza una evaluación médica profesional.</strong>
                    </p>

                    <p class="aviso-text">
                        Si presentas síntomas relacionados con tu salud, consulta con un especialista o servicio médico.
                    </p>

                    <div class="form-check mt-4 aviso-check">
                        <input class="form-check-input" type="checkbox" id="check-aceptar" name="terminos_aceptados">
                        <label class="form-check-label" for="check-aceptar">
                            He leído y acepto los términos y condiciones.
                        </label>
                    </div>
                </div>


                <!-- Botón de continuar -->
                <div class="modal-footer aviso-modal-footer">
                    <button type="submit" id="btn-aceptar" class="btn btn-primary btn-lg w-100 aviso-btn" disabled>
                        Continuar
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const avisoModal = new bootstrap.Modal(document.getElementById('aviso-modal'));
        avisoModal.show();
    });

    const checkbox = document.getElementById('check-aceptar');
    const continuarBtn = document.getElementById('btn-aceptar');

    checkbox.addEventListener('change', function() {
        continuarBtn.disabled = !this.checked;
    });
</script>