{% extends "monitor/base.html" %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block content %}

<div class="home-container">
    <h2 class="home-title">Detector de anomalías en el pulso</h2>
    
    <div class="buttons-container">
        <a href="{% url 'upload' %}" class="home-button btn-upload">
            <img src="{% static 'monitor/images/upload-icon2.svg' %}" alt="Upload" class="button-icon">
            <span class="button-text">Cargar archivo WAV</span>
        </a>
        
        <a href="{% url 'record' %}" class="home-button btn-record">
            <img src="{% static 'monitor/images/microphone-icon.svg' %}" alt="Microphone" class="button-icon microphone-icon">
            <span class="button-text">Grabar audio</span>
        </a>
    </div>
</div>

{% endblock %}